@model NavigationViewModel<NavigationTopicViewModel>

@if (Model.NavigationRoot != null) {
  <!-- Page Title Area -->
  <header class="header page-banner">
    <div class="grid-container">
      <div class="grid-x">
        <h1 class="title short cell">@Model.NavigationRoot.Title</h1>
      </div>
      @if (Model.NavigationRoot.Children.Count > 0)
      {
        <!-- Mobile Page Navigation Area -->
        <nav id="PageNavigationSmallScreen" class="navigation page hide-for-medium" role="navigation">
          <select>
            @foreach (var topic in Model.NavigationRoot.Children) {
              <option value="@topic.WebPath" @((topic.IsSelected(Model.CurrentKey)) ? " selected" : "")>
                @(topic.ShortTitle?? topic.Title)
              </option>
            }
          </select>
        </nav>
        <!-- /Mobile Page Navigation Area -->
      }
    </div>
  </header>
  <!-- /Page Title Area -->

  if (Model.NavigationRoot != null && Model.NavigationRoot.Children.Count > 0) {
    <!-- Page Navigation Area -->
    <nav id="PageNavigation" class="navigation page show-for-medium" role="navigation">
      <ul class="menu align-center">
        @foreach (var topic in Model.NavigationRoot.Children) {
          <li><a href="@topic.WebPath" class="@(topic.IsSelected(Model.CurrentKey)? "selected" : "")">
            @(topic.ShortTitle?? topic.Title)
          </a></li>
        }
      </ul>
    </nav>
    <!-- /Page Navigation Area -->
  }
}